<!-- <h2 class="text-muted">List Of Products</h2>
<br> -->
<ng-template #noProducts>
    <div class="alert alert-danger">
        <strong>Sorry!</strong> No products found.
    </div>
</ng-template>
<!-- Filter Text: &nbsp;{{filterText}} -->
<ng-template #loadingTemplate>
    <div class="alert alert-info">
        <strong>Loading...</strong> Please wait.
    </div>
</ng-template>
<ng-template #errorTemplate>
    <div class="alert alert-danger">
        <strong>Error!</strong> {{errorInfo}}
    </div>
</ng-template>


<div *ngIf="isLoadingOver;else loadingTemplate">
    <div *ngIf="errorInfo==='';else errorTemplate">
        <table class="table table-hover"
            *ngIf="products && (products|filterProduct:filterText).length>0;else noProducts">
            <!-- <table class="table table-hover" *ngIf="products && products.length>0;else noProducts"> -->
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-dark">
                <tr *ngFor="let p of products|filterProduct:filterText">
                    <!-- <tr *ngFor="let p of products"> -->
                    <td [routerLink]="['/products/view',p.productId]">
                        <img [src]="p.imageUrl" alt="NA" class="img-style">
                    </td>
                    <td>
                        {{p.productName|uppercase}}
                    </td>
                    <td>{{p.price|currency:'INR' }}</td>
                    <td>{{p.starRating}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="delete(p.productId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>